<!DOCTYPE html>
<%
    const pageLang = page.lang || config.language || 'en';
    const bodyClass = is_home() ? 'page-home' : (is_post() ? 'page-post' : 'page-default');
%>
<html lang="<%= pageLang %>">
    <%- partial('_partial/head') %>
    <body class="<%= bodyClass %>">
        <div class="paper">
            <div class="paper-main">
                <% if (is_post() || is_page()) { %>
                    <%- partial('_partial/post-header') %>
                <% } else { %>
                    <%- partial('_partial/header') %>
                <% } %>
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
</html>
