
<div class="post-main">
    <% if (is_post()) { %>
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-meta">
            发布于：<%- date(page.date, "YYYY-MM-DD") %> ｜
            <% if (page.updated && page.updated !== page.date) { %>
                更新于：<%- date(page.updated, 'YYYY-MM-DD') %> ｜
            <% } %>
            字数统计：<%= wordcount(page.content) %> 字 ｜
            浏览量：<span id="qiushaocloud_sitecounter_value_site_page_pv"></span> 次 ｜
            <% page.categories.forEach(function(category) { %>
                <a href="<%= url_for(category.path) %>"># <%= category.name %></a>
            <% }); %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>
    <% } else { %>
        <div class="post-md">
            <%- page.content %>
        </div>
    <% } %>
    <!-- tags -->
    <% if (page.tags && page.tags.length > 0) { %>
        <div class="post-meta">
            标签：
            <% page.tags.forEach(function(tags) { %>
                <a href="<%= url_for(tags.path) %>"> / <%= tags.name %></a>
            <% }); %>
        </div>
    <% } %>

    <!-- 其他内容 -->
    <script src="https://giscus.app/client.js"
            data-repo="miaohancheng/miaohancheng.github.io"
            data-repo-id="R_kgDONSmLtQ"
            data-category="Announcements"
            data-category-id="DIC_kwDONSmLtc4CkpDY"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
    </script>
</div>

<!-- 引入不蒜子统计脚本 -->
<script async src="//githubcdn.qiushaocloud.top/gh/qiushaocloud/site-counter@master/dist/qiushaocloud_site_counter.min.js"></script>
<!-- 来源https://github.com/qiushaocloud/site-counter -->